@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html {
    height: 100%;
}
html {
    background: white;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: satoshi;
    src: url(./fonts/Satoshi-Regular.otf);
}

::placeholder{
    color: #000;
}

canvas{
    display: block;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    /*background: #FFF;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    font-family: "Mulish", sans-serif;
    /*font-size: clamp(0.5rem, 5vw - 2rem, 1rem);*/
}

.form_box {
    position: absolute;
    width: 300px;
    height: 170px;
    padding: 10px 40PX 40PX 40PX;
    background: #FFF;
    text-align: center;
    /*border-radius: 80px;*/
    box-shadow: 1px 1px 10px 2px rgb(73, 72, 72);
}

.form_title {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
}

.form_box input[type="text"], .form_box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #BBB;
    width: 200px;
    outline: none;
    color: #000;
    border-radius: 24px;
    transition: 0.25s;
}

.form_box input[type= "text"]:focus, .form_box input[type= "password"]:focus {
    width: 280px;
    border-color: #BBB;
    border: 1px solid #000;
}